* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgb(30, 213, 201), green);
}
.bg-img {
  width: 100%;
  height: 100%;
}
.grass-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25%;
}
.grass {
  width: 100%;
}
.logo-container {
  display: flex;
  width: 100%;
  height: 20%;
  /* border: 1px solid red; */
  justify-content: center;
  align-items: center;
}
.logo {
  width: 22%;
  animation: logos 2s ease-in-out 1, pulseCta 2s ease-in-out infinite 3s;
}
@keyframes logos {
  0% {
    top: 40%;
    transform: scale(1.2);
  }
  50% {
    top: 5%;
    transform: scale(1);
  }
  100% {
    top: 5%;
    transform: scale(1);
  }
}

.text-container {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid red; */
}
.text-container img {
  height: 27%;
  object-fit: contain;
}

.tissue-container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 45%;
  width: 100%;
  /* border: 1px solid red; */
}
.tissue {
  width: 70%;
  object-fit: contain;
  animation: pulse 2s ease-in-out infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.cta-container {
  position: relative;
  height: 15%;
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  animation: pulseCta 2s ease-in-out infinite 3s;
}
.cta {
  width: 50%;
}
@keyframes pulseCta {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Stars */
.star {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 51%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.star.left {
  left: 45%;
}
.star.right {
  right: 7%;
}

.star img {
  width: 45%;
  opacity: 0;
  animation-iteration-count: infinite;
}
.star.left img {
  animation: expandLeft 3s forwards;
  animation-iteration-count: infinite;
}
.star.right img {
  animation: expandRight 3s forwards;
  animation-iteration-count: infinite;
}

.star.left .top {
  animation-delay: 1s;
}
.star.left .middle {
  animation-delay: 0.5s;
}
.star.left .bottom {
  animation-delay: 1s;
}

.star.right .top {
  animation-delay: 0.5s;
}
.star.right .bottom {
  animation-delay: 1s;
}

@keyframes expandLeft {
  0% {
    transform: scale(0) translateX(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.1) translateX(-100%);
    opacity: 1;
  }
  100% {
    transform: scale(1.2) translateX(-120%);
    opacity: 0;
  }
}

@keyframes expandRight {
  0% {
    transform: scale(0) translateX(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.1) translateX(100%);
    opacity: 0;
  }
  100% {
    transform: scale(1.2) translateX(120%);
    opacity: 1;
  }
}
/* end Star */
