* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  background-image: url(./img/general/bg.png);
  /* overflow: hidden; */
  position: relative;
}
.video-container{
  width: 100%;
  height: 33%;
  /* position: relative;
  z-index: 20; */
  /* display: flex;  */
  aspect-ratio: 16/9;
  border: 1px solid red;
}
.screenshot{
  width: 100%;
  height: 100%;
/* position: absolute;
top: 0;
left: 0;
z-index: 3;
object-fit: contain; */
  } 
.main-container{
  width: 100%;
  height: 59%;
  border: 1px solid red;
}
.top-text{
  width: 100%;
  height: 29%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}
.top-text-food{
  width: 48%;
  /* margin-top: 8%; */
}
.top-text-liquids{
  width: 60%;
  /* margin-top: 2%; */
}
.check-clean-recycle{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  padding: 1%;
  background-color:rgb(255 255 255);
  border-radius: 3% ;
}
.check-clean-recycle img{
  width: 25%;
}
.footer-container{
  width: 100%;
  height: 11%;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  display: flex;
flex-direction: column;
align-items:flex-end;
justify-content: flex-end;
  border: 1px solid red;
}
.footer-container img{
width: 100vw;
}

/* display: flex
;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 13vh;
    margin-top: auto;
    background-color: #fff;
    z-index: 5; */